*,
*:before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100rem;
    margin: 30rem auto;

    display: grid;
    /* grid-template-columns: 150px 150px 150px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 30px;

    /* 
        1fr => mengisi space kosong untuk patokan awal, dan berlaku kelipatannya
     */
}

.item {
    padding: 5rem;
    font-family: sans-serif;
    color: white;
    font-size: medium;
    border-radius: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.item--1 {
    background-color: orangered;
}
.item--2 {
    background-color: blueviolet;
}
.item--3 {
    background-color: burlywood;
}
.item--4 {
    background-color: chocolate;
}
.item--5 {
    background-color: darkgreen;
    grid-row: 1/2;
    grid-column: 3/4;
}
.item--6 {
    background-color: deepskyblue;
    grid-row: 1/2;
    grid-column: 1/2;
}
